@{
    ViewData["Title"] = $"Deleting {ViewBag.Liver.Name}";
}

<form method="post">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <h2>@ViewBag.Liver.Name</h2>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <button asp-action="Delete" type="submit" class="btn btn-danger mb-2">Delete</button>
            </div>
        </div>
    </div>
</form>