@model _2434Tools.Models.ViewModels.LiverViewModel
@{
    ViewData["Title"] = $"Editing {Model.Name}";
}

<form method="post">
    <div class="form-horizontal">
        <hr />
        <input type="hidden" asp-for="ChannelId" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TwitterLink" class="col-md-2 control-label">Twitter Link</label>
            <div class="col-md-10">
                <input asp-for="TwitterLink" class="form-control" />
                <span asp-validation-for="TwitterLink" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GroupId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="GroupId" class="form-control" asp-items="@ViewBag.Groups"></select>
                <span asp-validation-f or="GroupId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Graduated" class="col-md-2 control-label"></label>
            <input asp-for="Graduated" class="form-control ml-sm-3 ml-4" style="width:40px; height: 40px"/>
        </div>
        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <button asp-action="Edit" type="submit" class="btn btn-primary mb-2">Edit</button>
            </div>
        </div>
    </div>
    <style>
        .input-validation-error {
            border-color: orangered;
        }
    </style>
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}